@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
    gap: 50px;
    
}

.campos {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgb(255, 223, 183);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);
    border: solid rgba(0, 0, 0, 0.144) 1px;
}

.campos h2 {
    margin: 20px 0;
    text-align: center;
}

label {
    width: 100%;
    margin-bottom: 15px;
}

input {
    width: 100%;
    border-radius: 5px;
    border: solid black 0.4px;
    height: 25px;
}

#btn-calcular {
    padding: 10px 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
    border-radius: 10px;
}

#btn-calcular:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#btn-calcular:active {
    background-color: white;
    color: black;
}    